@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

h1, h2, h3{
  /* font-family: 'Rufina', serif; */
  font-family: 'Questrial', sans-serif;
}
p, a, li, label, input, textarea, button{
  font-family: 'Poppins', sans-serif;
}

input, textarea{
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  margin: 0px;
}

li{
  list-style: none;
}

button{
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #CDCDCD;
  margin: 0px 5px;
}

button:hover{
  background-color: rgba(122,121,121,0.6);
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
}

form input, form textarea{
  width: 80%;
  margin-bottom: 10px;

  padding: 10px;
}

form label{
  margin: 10px 0px;
}

form button{
  margin: 10px;
}

span{
  color: red;
  padding: 5px 10px;
  background-color: rgb(239, 202, 202);
  border-radius: 5px;
}

.icon{
  padding-right: 8px;
}

.eliminar-btn:hover{
  background-color: rgb(255, 129, 129);
}
