.div-arqs{
    display: flex;
    align-items: center;
    
    margin: 15px;
    padding: 15px 20px;
    border: 2px solid #CDCDCD;
}

.arq-name{
    padding: 10px 20px;
    width: 15%;
    border-right: 2px solid rgb(122,121,121);
}

.arq-desc{
    margin: 10px 20px;
    flex-grow: 1;
}

.div-btn{
    display: flex;
    justify-content: end;
    
}
